@model Proyecto1._1.Models.Solicitud_Model
@using (Html.BeginForm("Pasantes", "Estudiante"))
{
<div class="form-group">
    <div class="form-group">
        <h5 style="color:white">
            principalmente tiene que mencionar una materia con una unidad de aprendizaje que usted desee para poder ser agragaddo al area correspondiente depende a los datos que haya ingresado, y tiene que describirde que manera brindara su servicio, yu si es que tendra algun valor monetario adicional o no, para ser implememtado a su perfil y describir que dias con que horas con exactitud podra dar las clases luego contactarse con cualquiera


            de los   @Html.ActionLink("Administradores", "Contact", "Home") para poder ser evaluado. Gracias.
        </h5>
        @Html.LabelFor(c => c.descripcion, new { @class = "col-md-2 control-label", @style = "color:white" })

        @Html.TextAreaFor(c => c.descripcion, new { @class = "form-control" })
        <div style="color:red">
            @Html.ValidationMessageFor(c => c.descripcion)
        </div>
    </div>

    
    <div class="right">
        <button class="btn btn-outline-success" style="background-color:#07423E; color:white"><span class="glyphicon glyphicon-send">  Enviar </span></button>
    </div>

</div>
}
