
@model IEnumerable<Proyecto1._1.Models.Area_Model>

@foreach (var Area in Model)
{
   
        <table class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <td>@Html.ActionLink(Area.nombre, "Materia", "Estudiante", new { id = Area.id }, null)</td>
                </tr>
            </tbody>
        </table>

    }
