
@{            
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
<h2>Estudiante</h2>
<div class="row">
    <div class="col-md-8">
       
        @Html.Partial("Area_vistaPartial")

    </div>
    <div class="col-md-3">
        <div class="tab-content">



        </div>
        @using (Html.BeginForm("Pasante", "Estudiante"))
    {
        <h3>Desea Ser Pasante?</h3> <br />
      
            <h5>
                para poder Ser
                <a>@Html.ActionLink("Pasante", "Pasantes", "Estudiante")</a>
               
            </h5>
            }
         


    </div>
                     
        </div>
 



















