
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 style="color:white">Inicio</h2>
<div class="row">
    <div class="col-md-8">
        @Html.Partial("New")

    </div>
    <div class="col-md-6">
        <div class="tab-content">

      

           


        </div>
    </div>
</div>


