@{
    ViewBag.Title = "Confirmación de contraseña olvidada";
}

<hgroup class="title">
    <h1 style = "color:white" >@ViewBag.Title.</h1>
</hgroup>
<div>
    <p style = "color:white" >
        Compruebe el correo electrónico para restablecer la contraseña.
    </p>
</div>
	
