@{
    ViewBag.Title = "Acerca de";
}
<div class="alinearCentroo">
    <h2>Nuestro objetivo</h2>
    <h4>
        Se ha creado esta pagina con el fin de brindar una ayuda a los que buscan algun tipo de ayudantia en alguna materia y/o area en especifico a lo que requiera el estudiante.
        Esta se logra a traves de un registro previo para la persona, asi registrandose como estudiante. Posterior a ello, el estudiante tiene la opcion de registrarse como un ayudante,
        con previa autorizacion de los ADMINISTRADORES. Siendo aceptado, el ayudante podra brindar conocimientos y asi ofrecer su ayuda a los que necesiten reforzarse en un area.
        Asi de tal manera,  brindando un apoyo y/o aporte a la comunidad.
    </h4>
</div>
<p>Esperamos que este proyecto sea de gran ayuda para la comunidad.</p>