
@{
    ViewBag.Title = "Condiciones";
}

<h2>@ViewBag.Message</h2>
<p>
    Las presentes condiciones generales de uso del portal regulan el acceso y
    la utilización del portal, incluyendo los contenidos y los servicios puestos
    a disposición de los usuarios en y/o a través del portal,  por el bien del portal,
    bien por sus usuarios, bien por terceros. No obstante, el acceso y la utilización
    de ciertos contenidos y/o servicios seran administrados por los programadores.
</p>
