@{
    ViewBag.Title = "Contacto";
}
<h2 style="color:white">@ViewBag.Title.</h2>


<address style="color:white">
    Creadores<br />
    Ronald Justiniano Paredes<br />
    <label title="Phone">Telefono: </label>
    71019818
    <br />
    <br />
    Favio Cardona Regis<br />
    <label title="Phone">Telefono: </label>
    65887244
    <br />
    <br />
    Joel Cornejo Gomez<br />
    <label title="Phone">Telefono: </label>
    78022866
</address>
