
@{
    ViewBag.Title = "dejarComentario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:white">Comunidad</h2>
@foreach (var comentario in Model)
{
    <table>
        <tr>         
            <td style="color:white">@comentario.comentario</td>
        </tr>
    </table>
    <br/>
}
    <button style="background-color:black;color:black"><a style="color:white">@Html.ActionLink("Dejar un comentario", "Comentario", "Home")</a></button>

