#carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateZ( -288px );
    transform-style: preserve-3d;
    transition: transform 1s;
}
.navbarcolor {
    background-color: #07423E;
}
.navbar-inversess {
    background-color: #07423E !important
}
.td a{
    color:white;
}
.navbar-inverse {
    background-color: #07423E
}

    .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        background-color: #808080
    }

    .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
        background-color: #808080
    }

.dropdown-menu {
    background-color: #FFFFFF
}

    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
        background-color: #4A4A4A
    }

.navbar-inverse {
    background-image: none;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-image: none;
}

.navbar-inverse {
    border-color: #080808
}

 .navbar-inverse .navbar-brand {
        color: #FFFFFF
    }

  .navbar-inverse .navbar-brand:hover {
            color: #FFFFFF
        }

    .navbar-inverse .navbar-nav > li > a {
        color: #B3B3B3
    }

        .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
            color: #FFFFFF
        }

    .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
        color: #FFFFFF
    }

        .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
            color: #FFFFFF
        }

.dropdown-menu > li > a {
    color: #000000
}

    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
        color: #FFFFFF
    }

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #999999
}

.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
    border-top-color: #FFFFFF
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-bottom-color: #999999
}

.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
    border-bottom-color: #FFFFFF
}





body {
    padding-top: 8px;
    padding-bottom: 30px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
.classContainer {
    position: relative;
}



.divUser {
    float: right;
    padding-top: 62px;
    padding-right: 0px;
}

    .divUser > a {
        color: #ff8200;
        cursor: pointer;
    }

        .divUser > a:hover {
            color: #ffb81c;
        }
.container-logo {
    padding: 5px;
    width: 100%;
    height: 250px;
}
.logo-image {
    margin: 0px;
    float: none;
}

    .logo-image > img {
        height: 250px;
        width: 100%;
    }

.alinearCentroo {
    margin: 2px;
    float:left;
   }
.alinearCentroo > img{
    height: 430px;
    width: 1150px; 

}
.Tamaño {
    margin: 2px;
    position: center ;
}

    .Tamaño > img {
        height: 430px;
        width: auto;
    }

.name-app {
    float: left;
    margin-bottom: 20px;
    height: 40px;
}

    .name-app > h1 {
        padding-left: 15px;
        padding-top: 7px;
        font-weight: bold;
        font-size: 28px;
    }
.partedeabajo-app > p {
    padding-left: 15px;
    padding-top: 7px;
    font-weight: bold normal;
    font-size: 10px;
}

.classIndex {
    padding: 10px;
}

.title-form {
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.alinearDerecha {
    text-align: right !important;
}

.alinearIzquierda {
    text-align: left !important;
}

.alinearCentro {
    text-align: center !important;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
