@model Proyecto1._1.Models.Area_Model
@using (Html.BeginForm("createArea", "Area"))
{
    <div class="form-group">
        <div class="form-group">
            @Html.LabelFor(c => c.nombre, new { @class = "col-md-2 control-label" })

            @Html.TextBoxFor(c => c.nombre, new { @class = "form-control" })

        </div>        
     


        </div>

}
